<!-- Footer Start -->
<footer class="footer bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <!-- Company Information -->
            <div class="col-md-4">
                <h5>About SolarTec</h5>
                <p>
                    SolarTec은 태양광 발전소 거래 플랫폼을 운영하며, 신뢰성 있는 투자 서비스를 제공합니다.
                    다양한 태양광 발전소 관련 정보를 제공합니다.
                </p>
            </div>

            <!-- Contact Information -->
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li><strong>Address:</strong> 서울특별시 중구 을지로 100</li>
                    <li><strong>Email:</strong> info@solartec.com</li>
                    <li><strong>Phone:</strong> +82-2-1234-5678</li>
                </ul>
            </div>

            <!-- Social Media Links -->
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#" class="text-white">
                            <i class="fab fa-facebook-f"></i> Facebook
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white">
                            <i class="fab fa-twitter"></i> Twitter
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white">
                            <i class="fab fa-instagram"></i> Instagram
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white">
                            <i class="fab fa-linkedin-in"></i> LinkedIn
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center py-3">
        <p class="mb-0">&copy; 2024 SolarTec. All rights reserved.</p>
    </div>
</footer>
<!-- Footer End -->