{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/announcement_detail.css') }}" />
{% endblock %}

{% block content %}
<div class="container product-detail">
    <div class="product-image">
        <img
            src="{% if property.business_registration_certificate %}{{ url_for('static', filename='saved/' ~ property.business_registration_certificate) }}{% else %}https://via.placeholder.com/300{% endif %}"
            alt="{{ property.plant_name }}"
        />
    </div>
    <div class="product-info">
        <div class="state">{{ property.current_status }}</div>
        <h1>{{ property.plant_name }}</h1>
        <div class="summary-info">
            <table>
                <tr><td>판매가격</td><td>{{ property.desired_price | int | string | replace(",", ",") }} 만원</td></tr>
                <tr><td>예상 수익률</td><td>{{ property.annual_revenue }} / {{ property.power_sale_price }}</td></tr>
                <tr><td>매전단가(REC/SMP)</td><td>{{ property.power_sale_price }}</td></tr>
                <tr><td>개통년월</td><td>{{ property.completion_date.strftime('%Y년 %m월 %d일') if property.completion_date else '정보 없음' }}</td></tr>
            </table>
        </div>
        <button class="estimate">견적 요청</button>
    </div>
</div>

<div class="container mt-5">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="#detail" data-toggle="tab">상세정보</a></li>
        <li class="nav-item"><a class="nav-link" href="#owner" data-toggle="tab">소유주 정보</a></li>
        <li class="nav-item"><a class="nav-link" href="#profit" data-toggle="tab">예상 수익률</a></li>
        <li class="nav-item"><a class="nav-link" href="#data" data-toggle="tab">데이터</a></li>
    </ul>

    <div class="tab-content mt-3">
        <div class="tab-pane fade show active" id="detail">
            <table class="table table-bordered">
                <tr><th colspan="4" class="attribute-title">TRADE - {{ property.location }} {{ property.sub_location }}</th></tr>
                <tr><td class="attribute-name">주소</td><td class="attribute-value">{{ property.location }} {{ property.sub_location }}</td>
                    <td class="attribute-name">시설 용량(PV)</td><td class="attribute-value">{{ property.system_capacity }}</td></tr>
                <tr><td class="attribute-name">설치 타입</td><td class="attribute-value">{{ property.construction_method }}</td>
                    <td class="attribute-name">모듈</td><td class="attribute-value">{{ property.manufacturer }}</td></tr>
                <tr><td class="attribute-name">인버터</td><td class="attribute-value">{{ property.inverter_manufacturer }}</td>
                    <td class="attribute-name">모니터링</td><td class="attribute-value">{{ property.monitoring_system }}</td></tr>
                <tr><td class="attribute-name">준공일</td><td class="attribute-value">{{ property.completion_date }}</td>
                    <td class="attribute-name">입사각</td><td class="attribute-value">{{ property.incident_angle }}</td></tr>
                <tr><td colspan="4">{{ property.notes or '추가 정보 없음' }}</td></tr>
            </table>
        </div>

        <div class="tab-pane fade" id="owner">
            <table class="table table-bordered">
                <tr><th colspan="2" class="attribute-title">소유자 정보</th></tr>
                <tr><td>신청자명</td><td>{{ property.applicant_name }}</td></tr>
                <tr><td>연락처</td><td>{{ property.phone }}</td></tr>
                <tr><td>이메일</td><td>{{ property.email }}</td></tr>
            </table>
        </div>

        <div class="tab-pane fade" id="profit">
            <table class="table table-bordered">
                <tr><th colspan="2">예상 수익률</th></tr>
                <tr><td>연간 발전량</td><td>{{ property.annual_production }}</td></tr>
                <tr><td>연간 수익</td><td>{{ property.annual_revenue }}</td></tr>
                <tr><td>잔존 수익</td><td>{{ property.remaining_revenue }}</td></tr>
            </table>
        </div>

        <div class="tab-pane fade" id="data">
            <table class="table table-bordered">
                <tr><th>항목</th><th>내용</th></tr>
                <tr><td>출력보증</td><td>{{ property.output_warranty }} 년</td></tr>
                <tr><td>제품보증</td><td>{{ property.product_warranty }} 년</td></tr>
                <tr><td>서비스 비용</td><td>{{ property.service_cost }}</td></tr>
                <tr><td>포함 내역</td><td>{{ property.included_in_price }}</td></tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
